* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "main";
    src: url(Fonts/intrepid.ttf);
}

html {
    font-family: 'main',Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4 {
    font-family: 'main',Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

h2 {
    font-size: large;
    padding: 20px;
}

h3 {
    padding: 20px;
    font-size: large;
}

.centre {
    text-align: center;
}

form {
    font-family: 'main',Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

input {
    text-align: center;
    padding: 5px;
    margin: 5px 20% 5px 20%;
    border-color: black;
 }

button {
    padding: 5px;
    margin: 5px 20% 5px 20%;
    background-color: rgb(184, 232, 248);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    border-bottom-style: solid;
    
    background-color: rgb(230, 255, 254);
}

#side {
    width: 400px;
    background-color: #eceaea;
    position: fixed;
    top: 61px;
    overflow: auto;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
}

main {
    padding: 10px;
    margin: 71px 10px 10px 430px;
    border-style: solid;
    border-radius: 20px;
}
