* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "main";
    src: url(Fonts/intrepid.ttf);
}

html {
    font-family: 'main',Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4 {
    font-family: 'main',Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

h2 {
    font-size: large;
    padding: 20px;
}

h3 {
    padding: 20px;
    font-size: large;
}

.centre {
    text-align: center;
}

form {
    font-family: 'main',Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

input {
    text-align: center;
    padding: 5px;
    margin: 5px 20% 5px 20%;
    border-color: black;
 }

button {
    padding: 5px;
    margin: 5px 20% 5px 20%;
    background-color: rgb(184, 232, 248);
}

button:hover {
    background-color:rgb(132, 219, 248) ;
}

button:active {
    background-color:rgb(255, 255, 255) ;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    border-bottom-style: solid;
    
    background-color: rgb(230, 255, 254);
}

#side {
    width: 400px;
    background-color: #eceaea;
    position: fixed;
    top: 61px;
    overflow: auto;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 71px 10px 10px 430px;
    border-style: solid;
    border-radius: 20px;
    align-content: center;
}

main h2 {
    padding-bottom: 0;
}

#mainArea {
    border-style: solid;
    border-radius: 20px;
    width: 30%;
    background-color: rgb(230, 255, 254);
    align-self: center;
}

#mainArea figure {
    padding: 0 0 5px 0;
}

main p {
    padding-bottom: 15px;
    font-weight: bold ;
    letter-spacing: .5px;
}

#fiveDay {
    width: 100%;
    max-width: 800px ;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

#fiveDay div {
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 255, 254);
    margin: 10px 0 ;
    justify-content: space-between;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    align-self: stretch;
}

#fiveDay div h4 {
    padding-top: 12px;
}

figure {
    padding-top: 8px;
}

#prevSearches button {
    width: 50%;
}




